@model IEnumerable<DisplayEmployees.Models.EmployeesFull>

@{
    ViewBag.Title = "Index";
}

<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<h2>Employees</h2>

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("Autocomplete")'

        });
    });

    $(function () {
            $("#startDate").datepicker()
    });
    $(document).ready(function () {
            $("#btn2").click(function () {
                var date = document.getElementById("startDate").value;
                alert(date);
                var f = {};
                f.url = '@Url.Action("FilterOutTableAfterDate", "EmployeesFullsController")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({ date });
                f.contentType = "application/json";
                f.success = function (response) {
                    alert("success");
                };
                f.error = function (response) {
                    alert("failed");
                };
                $.ajax(f);
            });
        });
    </script>


</head>




@using (Html.BeginForm("Index", "EmployeesFulls"))
{
<p>
    <br />
    Show  employees who started before: @Html.TextBox("startDate", null, new { id = "startDate" })
    <input type="submit" value="Filter" />
    <br />
    Search for  employee  by  FullName: @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
    <input type="submit" value="Search" />
    <br />

   

    Show  employees  reporting  to  ID:  @Html.DropDownList("reportingToId", "All" )
    <input type="submit" value="Filter" />
</p>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportingToID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.JoiningDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReportingToID)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
    }

</table>
